/*! Print styles. Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  // Show link href and title
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after{
    content: " (" attr(title) ")";
  }

  // hide link href and title for javascript/anchor links
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  // Fix for Chrome (OSX), see https://github.com/twbs/bootstrap/issues/11245
  select {
    background: #fff !important;
  }
}