// Source: BS3

ul, ol {
	margin-top: 0;
	margin-bottom: $list-spacer;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0; //remove margin from all nested lists
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
	padding-left: 0;
	list-style: none;
	> li {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

dl {
	margin-bottom: $list-spacer;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.dl-horizontal {
	dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	dd {
		margin-left: 180px;
		&:before,
		&:after {
			display: table;
			content: " ";
		}
		&:after {
			clear: both;
		}
	}
}